<div bsModal #CovidModal="bs-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          <img class="logo-modal" src="assets/img/brand/logo_modal.png" width="35px" height="35px">
          Bienvenido a <strong>¿Qué tenés para dar?</strong>
        </h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid">
        <div class="col-12">
          <h4>Acerca del COVID-19</h4>
          <p>
            Debido a la pandemia que afecta a todo el mundo decidimos introducir un nuevo tipo de centro al que se puede donar: las ollas populares
          </p>
          <p>
            Son varios los grupos de todo el Uruguay que se juntaron para cocinarles a los más afectados por los cambios que vivimos.
          </p>
          <p>
            Reciben todo tipo de alimentos, si quieres colaborar con ellos puedes ver todas las ollas populares <a href="https://www.quetenesparadar.com/?centerType=Olla">haciendo clic aquí</a>. Luego haz clic en los diferentes íconos del mapa para obtener más información y el teléfono de contacto.
          </p>
          <p>
            Si tu sos parte de un grupo que no está en el mapa y quieres que los sumemos envíanos un correo desde la página de contacto.
          </p>
          <p>
            Queremos agradecer a <a href="https://twitter.com/vicky_ortizt" target="_blank">Victoria Ortiz</a> y a <a href="https://twitter.com/Sebauyanet" target="_blank">Sebastián Auyanet</a> por acercarnos la información de estos grupos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
