<div class="animated fadeIn container no-map-container">
  <!-- <div class="row"> -->
    <div class="page-header">
      <h1>¡Contáctenos!</h1>
    </div>
  <!-- </div> -->
  <hr />
  <div class="row">
    <div class="col-md-5 col-12">
      <br>
      <p class="lead">
        Completando y enviando el formulario más abajo hará que nos llegue un mensaje.
        <br>
        <br>
        Si es responsable por una organización y desea aparecer en el mapa está en el lugar correcto.
        <br>
        <br>
        De todas maneras con mucho gusto recibimos comentarios, críticas y sugerencias que nos ayuden a mejorar
        <strong>¿Qué tenés para dar?</strong>
      </p>
    </div>
    <div class="col-md-7 col-12">
      <app-contact-us-form></app-contact-us-form>
    </div>
  </div>
</div>
<app-footer-no-map></app-footer-no-map>
