<div class="animated fadeIn container no-map-container">
  <div class="page-header">
    <h1>¿Cómo funciona QTPD?</h1>
  </div>
  <hr>
  <div class="lead-18">

    <div class="row">
      <div class="col-md-3 col-12">
        <img class="center-block img-responsive" src="assets/img/how-does-it-work/step-1.png" alt="Paso 1">
      </div>
      <div class="col-md-9 col-12">
        <h3>Encontrá cosas que no necesitás más</h3>
        <p>
          ¿Te mudás? ¿Ordenaste tu cuarto? ¿O simplemente querés que otras personas le sigan dando uso a cosas que vas a
          dejar de usar?
        </p>
        <p>
          Juntá todas esas cosas que tienen una segunda vida y encontrá quién las puede necesitar.
        </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-12">
        <img class="center-block img-responsive" src="assets/img/how-does-it-work/step-2.png" alt="Paso 2">
      </div>
      <div class="col-md-9 col-12">
        <h3>Entrá a ¿Qué tenés para dar?</h3>
        <p>
          Entrá al sitio, filtrá según las cosas que hayas juntado, la distancia máxima hasta dónde lo llevarías y hacé
          clic en <strong>BUSCAR</strong>.
        </p>
        <p>
          El mapa se va a actualizar y te mostrará los centros que se ajustan a tus necesidades.
        </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-12">
        <img class="center-block img-responsive" src="assets/img/how-does-it-work/step-3.png" alt="Paso 3">
      </div>
      <div class="col-md-9 col-12">
        <h3>Elegí un centro</h3>
        <p>
          Una vez que tengas los resultados vas a poder ver todos los centros a los que podés ayudar.
        </p>
        <p>
          Haciendo clic en los icónos del mapa vas a ver información sobre el centro. Vas a ver una descripción, la
          dirección, teléfono de contacto y horarios de atención.
        </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-12">
        <img class="center-block img-responsive" src="assets/img/how-does-it-work/step-4.png" alt="Paso 4">
      </div>
      <div class="col-md-9 col-12">
        <h3>¡Hacé la donación!</h3>
        <p>
          Una vez que hayas elegido a donde quieras llevar las cosas ponte en contacto con ellos y acercaselas.
        </p>
        <p>
          <strong>¡Gracias por usar QTPD!</strong>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-md-12">
      <p>
        El rol de ¿Qué tenés para dar? es ser un nexo entre personas que desean hacer donaciones de distintos tipos de
        objetos materiales y organizaciones o centros que las necesitan.
        No nos encargamos de transportarlas ni del estado de las mismas. Apelamos al sentido común y buena voluntad de
        cada persona en que va a donar materiales útiles y que las organizaciones las usaran para buen fin.
      </p>
      <p>
        Todas las organizaciones que aparecen listadas fueron contactadas por ¿Qué tenés para dar? previo a su
        publicación.
      </p>
    </div>
  </div>
</div>
<app-footer-no-map></app-footer-no-map>
