<div class="row">
  <div class="col-md-3 col-3"></div>
  <div class="col-md-6 col-12">
    <div class="footer-map pt-2 pb-2">
      <div class="col-12">
        <b>Seguinos en </b>
        <a class="btn btn-sm btn-social-icon btn-facebook ml-1 mr-1" href="https://facebook.com/quetenesparadar"
          target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-sm btn-social-icon btn-twitter" href="https://twitter.com/quetenesparadar" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="col-12">
        © Copyright {{ currentDate.getFullYear() }} - Todos los derechos reservados | <strong>Qué tenés para dar</strong>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-3"></div>
</div>
