<div class="animated fadeIn container no-map-container">
  <div class="page-header text-center">
    <h1>Registro</h1>
  </div>
  <hr />
  <div class="row text-center">
    <div class="col-12 text-center">
      <br>
      <p class="lead">
        Nos pone muy contentos sumar nuevos centros a <strong>¿Qué tenés para dar?</strong>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdY6p1al6jqc9oipzn24rNWQ0z2-xZ-5aBZTdtn7pqmyuYV-w/viewform"
          target="_blank">Para aparecer en el mapa completá el formulario</a> y escribinos a <a
          href="mailto:quetenesparadar@gmail.com">quetenesparadar@gmail.com</a>.
        <br>
        Una vez hecho el registro te contactaremos para corroborar los datos.
        <br>
        ¡Muchas gracias por formar parte!
      </p>
      <p class="lead px-5">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdY6p1al6jqc9oipzn24rNWQ0z2-xZ-5aBZTdtn7pqmyuYV-w/viewform"
          target="_blank" class="btn btn-primary btn-block">Completar formulario</a>
      </p>
    </div>
  </div>
</div>
<app-footer-no-map></app-footer-no-map>
