<div class="animated fadeIn container no-map-container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>¿Quiénes somos?</h1>
      </div>
      <hr>
      <div class="col-md-12">
        <p class="text-justify lead-15">
          Somos dos jóvenes informáticos que creen en que la suma de pequeñas buenas acciones tienen el poder de mejorar
          la sociedad y el país en donde vivimos.
          En <strong>¿Qué tenés para dar?</strong> buscamos ser el nexo que falta entre la población y las ONG que
          día a día trabajan para ayudar a miles de personas en todo el país.
          <br>
          <br>
          Siempre estamos necesitando una mano en algo, si tenés ganas de participar no dudes en <a
            [routerLink]="['/contact']"><strong>contactarnos</strong></a>.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle img-responsive center-block" src="assets/img/who-we-are/whoweare_ito.png"
            alt="Alvaro Fariña">
        </div>
        <div class="col-md-8 col-sm-12">
          <h4>Alvaro Fariña</h4>
          <p class="text-justify lead-15">
            Ing. de sistemas, de Montevideo. El bicho de QTPD le picó con la culpa de una campera guardada que ya no le
            servía.
          </p>
          <p class="lead-15">
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ItoFarina" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin ml-1" href="https://www.linkedin.com/in/alvaro-fariña-94265a44"
              target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle img-responsive center-block" src="assets/img/who-we-are/whoweare_martin.png"
            alt="Martin Manzo">
        </div>
        <div class="col-md-8 col-sm-12">
          <h4>Martín Manzo</h4>
          <p class="text-justify lead-15">
            Lic. en sistemas, de Montevideo. Enfermo por el deporte. El bicho de QTPD le pico cuando terminó de ordenar
            su dormitorio.
          </p>
          <p class="lead-15">
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/tincho89" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin ml-1" href="https://www.linkedin.com/in/martinmanzo/"
              target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Agradecimientos</h3>
      <p class="text-justify lead-15">
        ¿<strong>Qué tenés para dar?</strong> no hubiera sido posible de no ser por la ayuda de amigos que nos dieron
        una mano en las áreas en las que no son nuestro fuerte.
      </p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p class="text-justify lead-15"><img class="img-circle span2" height="35px" width="35px"
              src="assets/img/brand/logo_35x35.png" alt="QTPD"><em>Soledad Balarini</em> - Diseño del logo - <a
              href="https://www.linkedin.com/in/soledad-balarini-2bb7426b/" target="_blank">Contactar</a></p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="text-justify lead-15"><img class="img-circle span2" height="35px" width="35px"
              src="assets/img/brand/logo_35x35.png" alt="QTPD"><em>Gonzalo Piffaretti</em> - Apoyo
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="text-justify lead-15"><img class="img-circle span2" height="35px" width="35px"
              src="assets/img/brand/logo_35x35.png" alt="QTPD"><em>Fernando Olivera</em> - Apoyo
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="text-justify lead-15">
            <img class="img-circle span2" height="35px" width="35px" src="assets/img/brand/logo_35x35.png" alt="QTPD">
            <em>Uruguay Entre Todos</em> - Apoyo - <a href="https://es-la.facebook.com/UruguayEntreTodos/"
              target="_blank">Ir a la
              web</a>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <h4>¡Muchas gracias!</h4>
      </div>
      <p></p>
    </div>
  </div>
</div>
<app-footer-no-map></app-footer-no-map>
