<footer>
  <div class="container footer">
    <div class="row">
      <div class="col-md-12 footer-divider"></div>
    </div>
    <!-- START Desktop & tablet version -->
    <div class="row row-footer d-none d-md-flex">
      <div class="col-md-1 col-sm-6 col-6">
        <img class="center-block img-responsive" src="/assets/img/brand/logo-footer.png" alt="Logo footer"></div>
      <div class="col-md-4 col-sm-6 col-6 footer-title">
        ¿Qué tenés para dar?
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 footer-social">
        <p class="pull-right">
          Encontrános en las redes sociales
          <a class="btn btn-social-icon btn-facebook ml-1 mr-1" href="https://www.facebook.com/quetenesparadar"
            target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-social-icon btn-twitter" href="https://www.twitter.com/quetenesparadar" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </div>
    </div>
    <!-- END Desktop & tablet version -->
    <!-- START Mobile version -->
    <div class="row d-md-none mt-1">
      <div class="col-12 text-center">
        Encontranos en las redes sociales
        <a class="btn btn-social-icon btn-sm btn-facebook ml-1 mr-1" href="https://www.facebook.com/quetenesparadar"
          target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-social-icon btn-sm btn-twitter" href="https://www.twitter.com/quetenesparadar" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
    <!-- END Mobile version -->
    <div class="row">
      <div class="center-block">
        <p>
          © Copyright {{ currentDate.getFullYear() }} - Todos los derechos reservados | <strong>Qué tenés para
            dar</strong>
        </p>
      </div>
    </div>
  </div>
</footer>
